.linePreloader{
  width:100%;
  height:4px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:auto;
  border-radius:4px;
  background-size:20%;
  background: #ccc linear-gradient(to right, coral, coral) repeat-y -25% 0;
  animation:scroll 1.2s ease-in-out infinite;
}

@keyframes scroll{
  50%{background-size:75%}
  100%{background-position:125% 0;}
}