.title-text {
  font-size: 3rem;
  align-self: flex-start;
  margin-top: 10vh;
  padding-left: 30px;
  text-transform: capitalize;
}

.btn {
  width: auto !important;
  font-size: .9em !important;
  text-transform: uppercase;
  padding: 11px 16px;
  cursor: pointer;
  border: none;
  color: white;
  margin-top: 20px;
  border-radius: 3px !important;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
  0 3px 1px -2px rgba(0,0,0,0.12),
  0 1px 5px 0 rgba(0,0,0,0.2);
  transition: background-color .3s;
  align-self: flex-start;
  -webkit-appearance: button;

  &.update {
    background: $brand-color;

    &:hover {
      background: $hover-button;
    }

    &:disabled {
    opacity: .7;

    &:hover {
      background: $brand-color;
      cursor: not-allowed;
      }
    }
  }

  &.complete {
    background: #2196f3;
    margin-left: 10px;

    &:hover {
      background: #42a5f5;
    }

    &:disabled {
    opacity: .7;

    &:hover {
      background: #2196f3;
      cursor: not-allowed;
      }
    }
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
    0 3px 1px -2px rgba(0,0,0,0.12),
    0 1px 5px 0 rgba(0,0,0,0.2) !important;
  }

  &:active {
    margin-top: 21px;
  }
}

.wrap-input__chips {

  &.border-shadow{
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: inherit !important;
  }
}

.validate.update {
  @extend %input-validate;
  background: coral;
}

.validate.complete {
  @extend %input-validate;
  background: #2196f3;
}

.readonly {
  box-shadow: none !important;
}
